:root {
  --main-color: #362d27;
  --second-color: #2a2420;
  --third-color: #d9b24f;
  --black: #333;
  --black-v2: rgba(17, 17, 17, 0.781);
  --white-v2: rgba(255, 255, 255, 0.212);
  --righteous: "Righteous", cursive;
  --open-sans: "Open Sans", sans-serif;
  --step--3: clamp(0.9rem, calc(0.5rem + 0.9vw), 1rem);
  --step--2: clamp(0.75rem, calc(0.74rem + 0.7vw), 1.25rem);
  --step--1: clamp(0.94rem, calc(0.71rem + 1.15vw), 1.6rem);
  --step-0: clamp(1.5rem, calc(0.65rem + 1.74vw), 1.75rem);
  --step-1: clamp(1.07rem, calc(0.57rem + 2.49vw), 2rem);
  --step-2: clamp(1.5rem, calc(0.45rem + 3.45vw), 2.25rem);
  --step-3: clamp(1.22rem, calc(0.28rem + 4.68vw), 3.91rem);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
}

a {
  color: #fff;
  text-decoration: none;
  font-family: var(--righteous);
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
button:hover {
  opacity: 0.75;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--righteous);
}

/*----------- syte styles ----------*/
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--black);
  padding: 2rem 0;
}
main h1 {
  color: var(--third-color);
}

form {
  width: 80%;
  max-width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form label {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  height: 100px;
}
form label > * {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}
form input[type=submit] {
  width: 100px;
  font-weight: bold;
  font-size: var(--step--1);
  border: none;
  border-radius: 25px;
  background-color: var(--third-color);
  color: var(--main-color);
  cursor: pointer;
  opacity: 0.75;
}
form input[type=submit]:hover {
  opacity: 1;
}

/*--------------------------- panel de administrador---------------------------------*/
.main .products {
  width: 80%;
}
.main .searcher {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main input {
  width: 75%;
  max-width: 300px;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 1rem;
  border: none;
}
.main .add-prod {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .add-product {
  color: var(--main-color);
  background-color: var(--third-color);
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem auto;
}
.grid-products .loader,
.grid-products .no-products {
  text-align: center;
  color: #fff;
}

.product-card {
  width: 100%;
  max-width: 250px;
  margin: auto;
  color: #fff;
  background-color: var(--main-color);
}
.product-card * {
  margin-bottom: 1rem;
}
.product-card div {
  padding: 0 0.75rem;
}
.product-card img {
  width: 100%;
}
.product-card h3 {
  color: var(--third-color);
}
.product-card p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.product-card p span {
  display: flex;
  align-items: center;
  margin: 0;
}
.product-card .modify {
  width: 100%;
  background-color: var(--third-color);
  color: #333;
  font-size: var(--step--2);
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin: 1rem 0 0;
}

.modal {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: var(--black-v2);
  padding: 1.5rem 0.5rem;
}
.modal.is-active {
  display: block;
}
.modal .modal-content {
  position: relative;
  width: 95%;
  height: 92.5vh;
  max-width: 600px;
  background-color: var(--main-color);
  padding: 1rem;
  margin: 0 auto;
  border-radius: 10px;
  color: #fff;
}
.modal .content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.modal .close {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  padding: 0;
}
.modal .close span {
  color: rgb(182, 19, 19);
}

.modal-content h2 {
  color: var(--third-color);
  margin-bottom: 2rem;
}
.modal-content label {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0.25rem;
  color: #fff;
}
.modal-content label input {
  width: 100%;
}
.modal-content hr {
  height: 1.25px;
  border: none;
  background: linear-gradient(90deg, transparent 0%, rgb(194, 194, 194) 50%, transparent 100%);
}
.modal-content .title {
  text-align: center;
}
.modal-content .img {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-content .img * {
  margin: 0.75rem;
}
.modal-content .img input {
  color: var(--main-color);
  background-color: var(--third-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.modal-content .brand {
  margin: 1rem 0;
  text-align: center;
}
.modal-content .brand p {
  color: var(--third-color);
  margin-bottom: 1rem;
}
.modal-content .desc {
  padding: 1rem;
  text-align: center;
  color: var(--third-color);
}
.modal-content .desc textarea {
  margin-top: 1rem;
  width: 80%;
  resize: none;
  border-radius: 10px;
}
.modal-content .price,
.modal-content .stock {
  text-align: center;
  padding: 1rem 0.25rem;
  color: var(--third-color);
}
.modal-content .send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.modal-content .send button {
  color: var(--main-color);
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--third-color);
}
.modal-content .delete {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content .delete button {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: rgb(156, 18, 18);
}

/*# sourceMappingURL=styles.css.map */
