:root {
  --main-color: #362d27;
  --second-color: #2a2420;
  --third-color: #d9b24f;
  --black: #333;
  --black-v2: rgba(17, 17, 17, 0.781);
  --white-v2: rgba(255, 255, 255, 0.212);
  --righteous: "Righteous", cursive;
  --open-sans: "Open Sans", sans-serif;
  --step--3: clamp(0.9rem, calc(0.5rem + 0.9vw), 1rem);
  --step--2: clamp(0.75rem, calc(0.74rem + 0.7vw), 1.25rem);
  --step--1: clamp(0.94rem, calc(0.71rem + 1.15vw), 1.6rem);
  --step-0: clamp(1.5rem, calc(0.65rem + 1.74vw), 1.75rem);
  --step-1: clamp(1.07rem, calc(0.57rem + 2.49vw), 2rem);
  --step-2: clamp(1.5rem, calc(0.45rem + 3.45vw), 2.25rem);
  --step-3: clamp(1.22rem, calc(0.28rem + 4.68vw), 3.91rem);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
}

a {
  color: #fff;
  text-decoration: none;
  font-family: var(--righteous);
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
button:hover {
  opacity: 0.75;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--righteous);
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--third-color);
}

/*-------------------------components------------------------------*/
.cart {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--black-v2);
  top: 0;
  bottom: 0;
  padding: 1rem 0;
  z-index: 1000;
  overflow: scroll;
}
.cart .close {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  color: rgb(184, 23, 23);
  background-color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart .cart-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color);
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 10px;
}
.cart .cart-content p {
  color: #fff;
  font-weight: bold;
}
.cart article {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
  max-width: 300px;
  border: thin solid var(--third-color);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.cart article h3 {
  color: var(--third-color);
}
.cart article > * {
  width: 100%;
  margin-bottom: 1.25rem;
}
.cart article div:nth-child(2) * {
  margin: 0.5rem;
}
.cart article div:nth-child(3) {
  width: 80%;
}
.cart article p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 1rem;
}
.cart .pay {
  background-color: var(--third-color);
  font-size: 1.25rem;
  border: none;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
.cart .remove-product {
  background-color: rgb(201, 29, 29);
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 5px;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: var(--black-v2);
}
.hero-content div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  text-align: center;
}
.hero-content div * {
  margin: 0.5rem 0;
}
.hero-content div h1 {
  font-size: var(--step-2);
}
.hero-content div p {
  font-size: var(--step--1);
}

.hero-img .bg-carrousel {
  position: relative;
  width: 80%;
  max-width: 500px;
  height: auto;
}
.hero-img .carrousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero-img .carrousel .slides {
  display: flex;
  width: 300%;
  height: 100%;
}
.hero-img article {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--second-color);
  transition: transform 0.5s ease;
}
.hero-img article * {
  margin: 1rem;
}
.hero-img article img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.hero-img article p,
.hero-img article li {
  text-align: justify;
}
.hero-img button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--third-color);
}
.hero-img .left {
  left: -20px;
}
.hero-img .right {
  right: -20px;
}

.modal {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black-v2);
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 350px;
  margin: -64px auto 0;
  padding: 1rem;
  background-color: var(--second-color);
  color: #fff;
  border-radius: 5px;
}
.modal-content img {
  width: 100%;
}
.modal-content > * {
  margin: 0.5rem 0;
}
.modal-content .close {
  position: absolute;
  top: -12px;
  right: -12px;
  color: rgb(228, 37, 37);
  text-align: right;
  cursor: pointer;
  margin: 0;
}
.modal-content .close span {
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 50%;
  font-weight: bold;
}
.modal-content h3,
.modal-content h4 {
  color: var(--third-color);
}
.modal-content .shop-product {
  margin-top: 1.5rem;
  width: 100%;
}
.modal-content .shop-product button {
  width: 20px;
  height: 20px;
  border: none;
  color: var(--black);
  background-color: var(--third-color);
  font-weight: bold;
  border-radius: 50%;
}
.modal-content .shop-product .add-product {
  width: 100%;
  height: auto;
  border-radius: 0;
  font-size: 1.25rem;
}
.modal-content .shop-product label {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-content .shop-product .input {
  margin-bottom: 0.75rem;
}
.modal-content .shop-product input {
  width: 125px;
}

/*-------------------------site styles------------------------------*/
#contactanos {
  margin-bottom: 64px;
  text-align: center;
}

.contacto {
  text-align: center;
}

#conocenos {
  background-color: var(--main-color);
  color: var(--third-color);
  text-align: center;
}
#conocenos h2 {
  font-size: var(--step-2);
  padding: 1rem;
}
#conocenos > p {
  color: #fff;
  margin: auto;
  text-align: justify;
  width: 80%;
  font-size: var(--step--3);
  max-width: 600px;
  padding: 0 0 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  height: auto;
  padding: 1rem;
  background-color: var(--black-v2);
  border-radius: 10px;
}
.footer > * {
  color: #fff;
  margin: 1.5rem 0;
}
.footer h3 {
  font-size: var(--step-0);
  margin-bottom: 1rem;
}
.footer a,
.footer p {
  font-size: var(--step--2);
}
.footer img {
  width: 18px;
  height: 18px;
}
.footer > img {
  width: 50px;
  height: 50px;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: var(--main-color);
  padding: 0.25rem;
  bottom: 0;
  z-index: 100;
}
.header > a, .header > button {
  padding: 0.25rem;
  width: 50px;
}
.header .shop {
  background-color: transparent;
  border: none;
  position: relative;
}
.header .shop img {
  height: 36px;
}
.header .shop span {
  position: absolute;
  display: none;
  align-items: baseline;
  justify-content: center;
  width: 17.5px;
  height: 17.5px;
  background-color: rgb(223, 35, 35);
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}

#home {
  position: relative;
}
#home button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--third-color);
  color: var(--black);
  border: none;
  font-size: var(--step--2);
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}

.main-nav {
  position: fixed;
  width: 100%;
  height: calc(100vh - 64px);
  top: 0;
  background-color: var(--black-v2);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.main-nav.is-active {
  transform: translateX(0);
}

.nav-links {
  width: 50%;
  max-width: 300px;
  height: calc(100vh - 64px);
  background-color: var(--second-color);
  color: var(--third-color);
  padding: 1rem;
}
.nav-links h2 {
  margin-bottom: 2.5rem;
}
.nav-links a {
  display: flex;
  align-items: center;
  margin: 1.5rem 0.25rem;
  font-size: var(--step--1);
}
.nav-links span {
  margin-right: 0.75rem;
}

#productos {
  background-color: var(--black);
  padding: 2rem 0;
  margin: auto;
}
#productos h2 {
  color: var(--third-color);
  text-align: center;
  padding: 1rem;
  font-size: var(--step-1);
}

.grid-products {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

.social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.social-media img {
  margin-right: 0.5rem;
}

.product-card {
  width: 100%;
  max-width: 250px;
  background-color: var(--second-color);
  margin: 1rem 0;
  color: #fff;
}
.product-card img {
  object-fit: cover;
  height: 155.66px;
}
.product-card div {
  padding: 1rem;
}
.product-card div * {
  margin: 1rem 0;
}
.product-card div h3 {
  color: var(--third-color);
}
.product-card div p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -0.5rem;
}
.product-card div button {
  width: 100%;
  background-color: var(--third-color);
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0;
  font-weight: bold;
  font-size: var(--step--2);
}

.cr {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.no-products {
  grid-column: span 2;
}

.payment img {
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
}

.scroll-top {
  display: none;
}

@media screen and (min-width: 768px) {
  .cart article {
    flex-direction: row;
    max-width: 100%;
  }
  .cart article > * {
    margin: 0 0.5rem;
  }
  .cart article img {
    max-width: 265px;
    margin-left: -0.5rem;
  }
  .grid-products {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  .grid-products {
    grid-template-columns: repeat(3, 250px);
  }
  .header {
    position: static;
    height: auto;
    bottom: initial;
  }
  .no-products {
    grid-column: span 3;
  }
  .main-nav {
    position: static;
    transform: translateX(0);
    z-index: 1;
    width: auto;
    height: auto;
    background-color: transparent;
  }
  .main-nav h2 {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  .nav-links a {
    font-size: var(--step--2);
    width: auto;
    margin: 0 0.75rem;
  }
  .nav-links span {
    margin: 0;
  }
  #contactanos {
    margin-bottom: 0;
  }
  .scroll-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 1.5rem;
    bottom: 1.5rem;
    border: none;
    background-color: var(--third-color);
    display: initial;
    border-radius: 50%;
  }
  .scroll-top span {
    font-size: 3rem;
  }
}
/*-------------------------utilities------------------------------*/
.none {
  display: none;
}

.no-products {
  text-align: center;
  color: #fff;
}

.reverse {
  transform: rotate(180deg);
}

/*# sourceMappingURL=styles.css.map */
